*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
td{
	border: 1px;
}
body{
	font-family: 'Raleway', sans-serif;
	background-color: #fafafa;
}
.page{
	
}
.container{
	max-width: 1180px;
	margin: 0px auto;
	padding: 0px 10px;

}
.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}
.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #bcb588;
}
.header__body{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__list{
	display: flex;
	position: relative;
	z-index: 2;
}
.header__list li{
	list-style: none;
	margin: 0 0 0 20px;
}
.header__list li:hover{
	box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}
.header__link{
	color: #3f2817;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
}
.header__logo{
	flex: 0 0 100px;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
.header__logo img{
	max-width: 100%;
	display: block;
}
.header__menu{

}
.header__burger{
	display: none;
}

main{
	padding: 100px 0px 0px;
}

/*.Слайдер.*/
.slick-slider{

}
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
	align-items: flex-start;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #827a44;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #827a44;
}
.slider{
	position: relative;
	padding: 0px 60px;
}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 10px 10px 10px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider__item{
	transition: all 0.3s ease 0s;
	text-align: center;
	width: 100%;
}
.slider__item.slick-center{
}
.slider .slick-arrow.slick-prev{
	border: 0;
	left: 0;
	background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	border: 0;
	right: 0;
	background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

.advantages__conteiner{
	width: 90%;
	display: flex;
	justify-content: center;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}

.advantages{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	color: #3f2817;
}
#advantages__text p{
	margin-left: -20px;
	text-align: left;
	margin-left: 5px;
}
.inform__container{
	padding-top: 5px;
	width: 90%;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
	text-align: left;
}
.advantages__conteiner_1{
	width: 90%;
	display: flex;
	justify-content: center;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}
.inform{
	color: #3f2817;
	padding-bottom: 7px;
	text-align: justify;
}
.inform__text{
	color: #3f2817;
	box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}
.inform__text a{
	color: #3f2817;
}
.advantages_1{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}
.advantages__item_1{
	width: 30%;
	padding-top: 10px;
	font-size: 13px;
	color: #3f2817;
}
footer{
	box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 2px -2px;
	margin: auto;
    position: absolute;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #bcb588;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo{
	flex: 0 0 100px;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
.footer__logo img{
	max-width: 100%;
	display: block;
}
.footer__body{
	width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.footer__menu__DIV{
	width: 80%;
    padding-left: 10%;
}
.footer__menu{
	color: #3f2817;
	font-weight: 700;
	font-size: 18px;
	padding-left: 1%;
    padding-right: 1%;
}
.socSety{
	display: flex;
}
.social{
	margin-right: 40px;
}	
.sweet{
	width: 95%;
	background: #67622e;
	margin: auto;
	border-radius: 20px;
	display: flex;
}
.sweet__menu{
	width: 95%;
	display: flex;
    margin: auto;
	background: #fff;
}
.sweet__advantages{
	padding-top: 20px;
	padding-bottom: 5px;
	width: 95%;
	display: flex;
	text-align: center;
	flex-wrap: wrap;
}
.sweet__item{
	background-color: rgb(213,209,172);
	width: 22%;
	height: 135px;
	min-width: 200px;
	min-height: 50px;
	margin-bottom: 10px;
	margin-right: 10px;
}
.sweet__item_1{
	height: 20%;
	display: flex;
	justify-content: flex-end;
}
.sweet__item_2{
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sweet__item_3{
	height: 20%;
	display: flex;
	justify-content: flex-end;
}
.sweet__item_22{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60%;
	align-items: center;
}
td.table_menu{
	float: left;
}
.sweet__item_blin{
	background-color: rgb(213,209,172);
	width: 28%;
	height: 135px;
	min-width: 200px;
	min-height: 50px;
	margin-bottom: 10px;
	margin-right: 10px;
}

span.cheese{
	font-size: 20px;
	font-weight: 900;
}
span{
	font-size: 12px;
	padding-right: 5px;
}
.cocteils__sweet{
	width: 80%;
	background: #67622e;
	margin: auto;
	border-radius: 20px;
	display: flex;
}
.text{
	color: #fff;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 35px;
	letter-spacing: 7px;
	font-size: 24px;
}
.mili{
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	margin-left: 10px;
	margin-top: 10px;
}
html{
    font-size: 14px;
}
.container-drinks{
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
  
}
.verh_sag_1{
	width: 89%;
    margin-bottom: 15px;
    background: #67622e;
    border-radius: 20px;
    margin-top: 15px;
}
.verh_sag{
    width: 89%;
    margin-bottom: 15px;
    background: #67622e;
    border-radius: 20px;
    margin-top: 15px;
}
span.sag{
    color: #fff;
    font-weight: 700;
    padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 35px;
	letter-spacing: 7px;
	font-size: 24px;
}
span.sag_info{
    color: #fff;
	font-size: 12px;
	letter-spacing: 2px;
	margin-left: 10px;
	margin-top: 10px;
}
.verh_cock{
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cock-block{
    width: 30%;
    min-width: 300px;
    height: 120px;
    background-color: rgb(213,209,172);
    padding-top: 10px;
    justify-content: center;
    display: flex;
    flex-direction:column;
}
span.left-text_1{
    font-size: 20px;
	font-weight: 700;
}
span.left-text_2{
    font-size: 10px; 
}
.prize-text-right{
    margin-right: 60px;
}
span.right-text{
    font-size: 20px;
	font-weight: 700;
}
.fresh-info{
    background-color: rgb(213,209,172);
    width: 89%;
    display: flex;
    padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
    justify-content: space-between;
}
span.info-left-text_1{
    font-size: 20px;
	font-weight: 700;
}
span.info-left-text_2{
    font-size: 10px; 
}
span.info-right-text{
    font-size: 20px;
	font-weight: 700;
    padding-right: 20px;
}
.td__center{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
	font-weight: 700;
}
td.info-left-text_1{
    font-size: 20px;
	font-weight: 700;
    padding-top: 5px;
}
td.info-left-text_2{
    font-size: 12px;
}
.left_kofe_verh{
    background-color: rgb(213,209,172);
    width: 89%;
    padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.left_kofe_nis{
    margin-top: 15px;
    background-color: rgb(213,209,172);
    width: 89%;
}
.kofe_nis_info{
    background-color: rgb(213,209,172);
    width: 89%;
}
.nis_info-text_kofe{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.left-left-kofe-text{
    display: flex;
}
.left-right-kofe-text{
    display: flex;
    justify-content: space-between;
}
span.left-text-str_1{
    font-size: 20px;
    font-weight: 700;
}
span.right-text-kofe{
    font-size: 20px;
    font-weight: 700;
}
span.left-text-str_2{
    font-size: 12px;
    padding-top: 7px;
    padding-left: 8px;
}
.block3{
    display: block;
    padding-top:23px;
}
.block-drink{
    width: 10%;
    min-width: 100px;
}

.block-prize{
    display: flex;
    justify-content: space-between;
    height: 30%;
    margin-bottom: 10px;
   
}
.prize-text-left{
    display: flex;
    flex-direction: column;
}

.drinks-sred_left{
    width: 40%;
}
@media screen and (max-width: 1176px){

    .cock-block{
        width: 49%;
        height: 120px;
        margin-bottom: 10px;
    }
    .block-drink{
        width: 8%;
        display: none;
    }
    .block1{
        background-image: url(../img/simvols/drink.svg);
        ​​​​​​​background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: 30% 100%;
    }
}

@media screen and (max-width: 829px){

    .drinks-sred_left{
        width: 100%;
    }
    .left_kofe_nis{
        width: 89%;
    }
    span.info-left-text_1{
        font-size: 16px;
        font-weight: 700;
    }
    span.info-left-text_2{
        font-size: 8px; 
    }
    span.info-right-text{
        font-size: 16px;
        font-weight: 700;
        padding-right: 20px;
    }
    .td__center{
        padding-left: 2px;
        padding-top: 5px;
        font-size: 16px;
        font-weight: 700;
    }
    td.info-left-text_1{
        font-size: 16px;
        font-weight: 700;
        padding-top: 5px;
    }
    td.info-left-text_2{
        font-size: 8px;
    }
    span.left-text-str_1{
        font-size: 16px;
        font-weight: 700;
    }
    span.right-text-kofe{
        font-size: 16px;
        font-weight: 700;
    }
    span.left-text-str_2{
        font-size: 8px;
        padding-top: 7px;
        padding-left: 8px;
    }
    .sred_left_kofe{
        width: 100%;
    }
    .verh_sag{
        width: 90%;
    }

    .cock-block{
        width: 100%;
        min-width: 300px;
        height: 120px;
    }
    .block-drink{
        width: 10%;
        display: none;
    }
}

@media screen and (max-width: 829px){
    .cock-block{
        width: 100%;
        min-width: 220px;
        height: 120px;
    } 
}


@media screen and (max-width: 768px){

	.social{
		margin-right: 5px;
	}
	.footer__menu__DIV{
		margin-right: 10px;
	}


	body.lock{
		overflow: hidden;
	}
	.header__body{
		height: 50px;
	}
	.header__logo{
		flex: 0 0 70px;
	}
	.header:before{
		z-index: 3;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger:before{
		content: '';
		background-color: #3f2817;
		position: absolute;
		width: 100%;
		left: 0;
		height: 2px;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		content: '';
		background-color: #3f2817;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger span{
		background-color: #3f2817;
		position: absolute;
		position: absolute;
		width: 100%;
		left: 0;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
		background-color: #fafafa;
		/* padding: 70px 10px 20px 10px;	 */
	}
	.header__menu.active{
		top: 0;
		transition: all 0.3s ease 0s;
	}
	.header__list{
		display: block;
	}
	.header__list li{
		margin: 0 0 20px 0;	
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__link{
		font-size: 24px;
	}
	main{
		padding: 70px 0 0 0;
	}
	nav{
		width: 100%;
	}
	
	.slider__item{
		width: 100%;
	}
	.advantages{
		max-width: 100%;
		font-size: 8px;
	}
	.advantages__item_1{
		width: 40%;
	}
	.sweet__advantages{
		max-width: 100%;
		justify-content: center;
		padding-left: 30px;
	}
	.sweet__item{
		width: 45%;
	}
	.sweet__item_blin{
		width: 45%;
	}
	.myimg{
		display: none;
	}
	


}

@media screen and (max-width: 489px){
	.sweet__item{
		width: 100%;
	}
	.socSety{
		display: block;
	}
	.sweet__item_blin{
		width: 100%;
	}
}

@media screen and (max-width: 420px){
	
	.slider__item{
		width: 50%;
	}
	.advantages{
		max-width: 100%;
		font-size: 6px;
	}
	h1{
		font-size: 14px;
	}
	
	.advantages_1{
		flex-direction: column;
	}
	.advantages__item_1{
		width: 100%;
	}
	.sweet__item{
		width: 100%;
	}
	.sweet__item_blin{
		width: 100%;
	}
}